body {
  background-color: #FFF;
}

a{
  text-decoration: none;
  color: inherit;
}
a:hover, a:focus{
  text-decoration: none;
  color: inherit;
}

.inicio-rea{
  margin-top: 20px;
}

.title-inicio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.primeiro-conteudo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.primeiro-conteudo h1{
  font-family: 'Dosis', sans-serif;
  margin-top: 20px;
  text-transform: uppercase;
}

.primeiro-conteudo span:nth-child(1){
  color: #008EE5;
  font-weight: bold;
  font-size: 1em;
}

.primeiro-conteudo span:nth-child(3){
  color: #FF9600;
  font-weight: bold;
  font-size: 1.7em;
}

.imagem-inicio{
  width: 350px;
}

.itens-navegacao{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  column-gap: 30px;
  width: 80%;
  margin-left: -50px;
}

.quadrado{
  width: 60px;
  height: 60px;
  margin-top: 30px;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  background-color: #FF9600;
  cursor: pointer;
}
#q2, #q4{
  background-color: #008EE5;
}
#q4, #q5{
  margin-top: 0;
}

.item-secao p{
  font-weight: bold;
  font-family: 'Dosis', sans-serif;
}

hr{
  border: 1px solid #008EE5;
  width: 87%;
}

.inicio-conteudos{
  display: flex;
  position: relative;
  margin-top: 5px;
}

.inicio-conteudos > .quadrado{
  width: 60px;
  height: 60px;
  margin-top: 5px;
  margin-left: 15px;
}

.inicio-conteudos h1{
  font-size: 1.3em;
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-left: 15px;
  margin-top: 17px;
  text-transform: uppercase;
}

.conteudos{
  display: flex;
  flex-direction: column;
}

.conteudos p{
  width: 97%;
  margin-left: 3%;
  font-family: 'Roboto', sans-serif;
}

.conteudos p:nth-child(1), .conteudos p:nth-child(4), #p2-item4, #p2-item5{
  margin-top: 5%;
}

#p3-item4, #p3-item5{
  margin-top: 0;
}

.imagem-item1, .imagem-item2, .imagem-item3{
  display: flex;
  justify-content: center;
}

.imagem-item1 img{
  width: 25%;
}

.imagem-item2 img{
  width: 35%;
}

.imagem-item3 img{
  width: 65%;
}

.return-menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  cursor: pointer;
}

.return-menu i{
  color: #FF9600;
}

.return-menu span{
  color: #008EE5;
  text-transform: uppercase;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
}

.return-menu i{
  font-size: 2.5em;
}

.carousel-inner{
  background-color: #E6E6E6;
  width: 95%;
  height: 400px;
  margin-left: 15px;
}

.carousel-item img{
  width: 100px;
  margin: auto;
  margin-top: 10%;
}

.carousel-item p{
  width: 90%;
  font-size: 12px;
  margin-left: 5%;
  margin-top: 5%;
  font-family: 'Roboto', sans-serif;
}

#img-car6{
  width: 150px;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23008EE5' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
 }
 
 .carousel-control-next-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23008EE5' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
 }

 .inputs-box{
   display: flex;
   justify-content: center;
   margin-top: 20px;
 }

 .inputs-box input{
  background-color: #FF9600;
  border: 0;
  margin-left: 15px;
  padding: 5px;
  border-radius: 3px; 
  width: 25%;
  text-align: center;
}

.button-escolha-nums{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 25px;
}

#button-escolha{
  text-align: center;
  width: 150px;
  padding: 7px;
  border: 0;
  outline: none;
  cursor: pointer;
  background-color: #008EE5;
  color: #FFF;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: bold;
}
#button-escolha:hover{
  background-color: rgba(0, 142, 229, .7);
}


 .gelosia-container{
   display: none;
   flex-wrap: wrap;
   width: 150px;
   margin-top: 20px;
   margin-bottom: 50px;
   margin-left: 80px;
 }

 .gelosia-box{
  display: flex; 
  position: relative; 
  width: 70px; 
  height: 70px; 
  border: 1px solid grey;
 }

 .division-box{
  position: absolute; 
  width:97px; 
  height: 2px; 
  left: -14px; 
  top: 32.5px; 
  background-color: red; 
  transform: rotate(-45deg);
 }

 .gelosia-span1{
  position: absolute; 
  top: 2%; 
  left: 14%;
  font-weight: bold;
  font-size: 24px;
 }

 .gelosia-span2{
  position: absolute; 
  top: 50%; 
  left: 60%;
  font-weight: bold;
  font-size: 24px;
 }

 /*
 #box1{
  background: linear-gradient(
    to bottom right, 
    #ffffff 0%, 
    #ffffff 50%, 
    #FF9600 50%, 
    #FF9600 100%
  );
 }

 #box2, #box3{
  background: linear-gradient(
    to top left, 
    #ffffff 0%, 
    #ffffff 50%, 
    #FF9600 50%, 
    #FF9600 100%
  );
 }
 */

 .area-gelosia-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 .paragrafo_da_caixa{
  width : 70px;
  height : 50px;
  font-weight : bold;
  font-size: 28px;
  position : relative;
  left : 27px;
  top : 10px;
 }

 .box-controls{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
 }

 .controleNum{
  font-size: 42px;
  font-weight: bold;
  color: #008EE5;
  margin: 0 5px;
 }

 .controleMult{
  font-size: 30px;
  font-weight: bold;
  color: #FF9600;
  position: relative;
  top: 5px;
  left: 1px;
 }

 .area-controls{
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .input-num-control{
  outline: none;
  width: 55%;
  text-align: center;
  margin-top: 5px;
 }

 .fa-angle-right{
  color: #008EE5;
  font-size: 2.5em;
  cursor: pointer;
  margin-top: -10px;
 }

 .error-input{
    position: relative;
    animation: shake .1s linear;
    animation-iteration-count: 3;
 }

 @keyframes shake{
    0% { left: -5px; }
    100% { right: -5px; }
 }

@media (min-width: 0px) and (max-width: 400px){
  .primeiro-conteudo span:nth-child(1){
    font-size: .6em;
  }

  .primeiro-conteudo span:nth-child(3){
    font-size: .95em;
  }

  .item-secao p{
    font-size: 12px;
  }

  .imagem-inicio{
    width: 250px;
  }

  .itens-navegacao{
    margin-left: -40px;
  }

  .inicio-conteudos{
    left: 8px;
  }

  .inicio-conteudos h1{
    font-size: 1em;
  }
  
  .inicio-conteudos > .quadrado{
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-left: 1px;
  }

  .carousel-inner{
    margin-left: 7px;
    width: 95%;
  }

  .carousel-item img{
    margin-top: 15%;
  }

  .inputs-box input{
    width: 40%;
  }

  .area-gelosia-container{
    margin-top: -10px;
   }
}


@media (min-width: 400px) and (max-width: 535px){
  .primeiro-conteudo span:nth-child(1){
    font-size: .8em;
  }

  .primeiro-conteudo span:nth-child(3){
    font-size: 1.2em;
  }

  .imagem-inicio{
    width: 300px;
  }

  .item-secao p{
    font-size: 12px;
  }

  .itens-navegacao{
    margin-left: -40px;
  }

  .inicio-conteudos > .quadrado{
    width: 55px;
    height: 55px;
    margin-top: 5px;
    margin-left: 10px;
  }

  .inicio-conteudos h1{
    font-size: 1.2em;
  }

  .carousel-inner{
    margin-left: 10px;
    width: 95%;
  }

  .inputs-box input{
    width: 35%;
  }
}

@media (min-width: 575px) and (max-width: 768px){
  .inicio-conteudos > .quadrado{
    margin-left: 32px;
  }

  .conteudos p{
    margin-left: 32px;
    width: 95%;
  }

  .imagem-item1 img{
    width: 20%;
  }

  .imagem-item2 img{
    width: 30%;
  }

  .imagem-item3 img{
    width: 55%;
  }

  .carousel-inner{
    margin-left: 32px;
    width: 93%;
  }

  .carousel-item p{
    font-size: 14px;
  }

  .carousel-item img{
    width: 120px;
    margin-top: 8%;
  }

  #img-car6{
    width: 180px;
  }

  .carousel-control-prev {
    left: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .inicio-conteudos > .quadrado{
    margin-left: 46px;
  }

  .conteudos p{
    margin-left: 46px;
    width: 92%;
  }

  .imagem-item1 img{
    width: 15%;
  }

  .imagem-item2 img{
    width: 25%;
  }

  .imagem-item3 img{
    width: 45%;
  }

  .carousel-inner{
    margin-left: 46px;
    width: 90%;
  }

  .carousel-item p{
    font-size: 14px;
  }

  .carousel-item img{
    width: 150px;
    margin-top: 3%;
  }

  #img-car6{
    width: 200px;
  }

  .carousel-control-prev {
    left: 20px;
  }
}

@media (min-width: 992px) and (max-width: 1200px){
  .title-inicio{
    flex-direction: row;
    margin-bottom: 20px;
  }

  .title-inicio img{
    margin-left: 50px;
  }

  .title-inicio h1{
    margin-left: 70px;
  }

  .imagem-inicio{
    width: 250px;
  }

  .inicio-conteudos > .quadrado{
    margin-left: 55px;
  }

  .conteudos p{
    margin-left: 55px;
    width: 93%;
  }

  .imagem-item1 img{
    width: 12%;
  }

  .carousel-inner{
    margin-left: 55px;
    width: 90%;
  }

  .carousel-item p{
    font-size: 16px;
  }

  .carousel-item img{
    width: 150px;
    margin-top: 3%;
  }

  #img-car6{
    width: 200px;
  }

  .imagem-item2 img{
    width: 20%;
  }

  .imagem-item3 img{
    width: 40%;
  }

  .inputs-box input{
    width: 25%;
  }
}

@media (min-width: 1200px) and (max-width: 1400px){
  .primeiro-conteudo span:nth-child(1){
    font-size: 1.13em;
  }
  
  .primeiro-conteudo span:nth-child(3){
    font-size: 2em;
  }

  .title-inicio{
    flex-direction: row;
    margin-bottom: 20px;
  }

  .title-inicio img{
    margin-left: 0px;
  }

  .title-inicio h1{
    margin-left: 70px;
  }

  .imagem-inicio{
    width: 280px;
  }

  .inicio-conteudos > .quadrado{
    margin-left: 72px;
  }

  .conteudos p{
    margin-left: 72px;
    width: 90%;
  }

  .conteudos p:nth-child(1){
    margin-top: 2%;
  }

  .imagem-item1 img{
    width: 10%;
  }

  .carousel-inner{
    margin-left: 72px;
    width: 90%;
  }

  .carousel-item p{
    font-size: 16px;
  }

  .carousel-item img{
    width: 150px;
    margin-top: 3%;
  }

  #img-car6{
    width: 200px;
  }

  .imagem-item2 img{
    width: 15%;
  }

  .imagem-item3 img{
    width: 30%;
  }

  .inputs-box input{
    width: 10%;
  }

  .inputs-box input{
    width: 25%;
  }
}

@media (min-width: 1400px){
  .primeiro-conteudo span:nth-child(1){
    font-size: 1.5em;
  }
  
  .primeiro-conteudo span:nth-child(3){
    font-size: 2.7em;
  }

  .title-inicio{
    flex-direction: row;
    margin-bottom: 25px;
  }

  .itens-navegacao{
    margin-left: 100px;
    row-gap: 30px;
  }

  .title-inicio img{
    margin-left: 0px;
  }

  .title-inicio h1{
    margin-left: 70px;
  }

  .imagem-inicio{
    width: 300px;
  }

  .inicio-conteudos > .quadrado{
    margin-left: 107px;
  }

  .conteudos p{
    margin-left: 107px;
    width: 90%;
  }

  .conteudos p:nth-child(1){
    margin-top: 2%;
  }

  .imagem-item1 img{
    width: 7%;
  }

  .carousel-inner{
    margin-left: 107px;
    width: 90%;
  }

  .carousel-item p{
    font-size: 16px;
  }

  .carousel-item img{
    width: 150px;
    margin-top: 3%;
  }

  #img-car6{
    width: 200px;
  }

  .imagem-item2 img{
    width: 12%;
  }

  .imagem-item3 img{
    width: 20%;
  }

  .carousel-control-prev {
    left: 20px;
  }

  .inputs-box input{
    width: 10%;
  }
}
